
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .topnav {
      overflow: hidden;
      background-color: white;
      padding: 1%;
      display: flex;
      align-items: center;
  }
  .menu {
      margin-left: auto; 
      margin-right: 20%;
  }
  
  .topnav a {
      float: right;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  .topnav a:hover {
      background-color: #ddd;
      color: black;
  }
  
  .topnav a.active {
      background-color: white;
      float: left;
  }
  
  .topnav .icon {
      display: none;
  }
  
  @media screen and (max-width: 600px) {
      .topnav a:not(:last-of-type) {display: none;}
      .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
.workGrid {
    display: grid;
    grid-template-areas:
    'firstSpot secondSpot thirdSpot fourthSpot'
    'fifthSpot sixthSpot seventhSpot eighthSpot';
    grid-gap: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}
h1 {
    text-align: center;
}
.image1 {
    grid-area: firstSpot;
}
.item1 {
    grid-area: secondSpot;
}
.image2 {
    grid-area: thirdSpot;
}
.item2 {
    grid-area: fourthSpot;
}
.image3 {
    grid-area: fifthSpot;
}
.item3 {
    grid-area: sixthSpot;
}
.image4 {
    grid-area: seventhSpot;
}
.item4 {
    grid-area: eighthSpot;
}
h3 {
    text-align: center;
}
.topnav a.active {
    margin-right: auto;
    margin-left: 20%;
}
@media only screen and (max-width: 600px) {
    .workGrid {
        display: grid;
        grid-template-areas:
        'firstSpot'
        'secondSpot' 
        'thirdSpot' 
        'fourthSpot'
        'fifthSpot'
        'sixthSpot' 
        'seventhSpot'
        'eighthSpot';
        grid-gap: 10px;
        padding: 10px;
    }
}